.c-breadcrumbs {
    
}

.c-breadcrumbs__title {
    display: none;
}

.c-breadcrumbs__lead {
    display: none;
}

.c-breadcrumbs__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.c-breadcrumbs__item {
    display: inline-block;
}

.c-breadcrumbs__item::before {
    content: '\00BB';
    padding: 0 .5rem;
}

.c-breadcrumbs__item--first::before {
    content: '';
    padding: 0;
}

@media all and (min-width: $width--desktop) {
    
    .c-breadcrumbs {
        
    }

}