// Default any items that may be missing from _settings.global.scss
$color--focus: #000000 !default;

.c-hero {
    align-items: center;
    display: flex;
    min-height: 70vh;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
}

.c-hero__title {
    color: $color--focus;
    font-size: 3rem;
    margin: 0;
}

.c-hero__img {
    display: none;
}

.c-hero__text {
    margin: 1.5rem 0;
}


@media all and (min-width: $width--desktop) {
        
    .c-hero__content {
        padding-right: 10rem;
        width: 70%;
    }
    
    .c-hero__img {
        display: block;
        float: right;
        max-height: 60rem;
        max-width: 24rem;
    }

}