.c-banner {
    width: 100%;
}

.c-banner__fade {
    height: 3rem;
}

@media all and (min-width: $width--desktop) {

    .c-banner {
        background-color: $color--tertiary;
    }

    .c-banner--blog {
        background-image: url("../images/hero-blog.png");
        background-repeat: no-repeat;
        background-position: center 4rem;
    }

    .c-banner__fade {
        background-color: $color--tertiary;
        height: 20rem;
        opacity: .7;
    }

}